.currency {
  box-sizing: border-box;
  padding: 15px;
  background-color: white;
  &__title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 22px;
    color: #a02f3e;
  }
  &__radio-btn {
    display: inline-block;
    margin-right: 10px;
    input {
      display: none;
    }
    label {
      display: inline-block;
      cursor: pointer;
      padding: 0px 15px;
      line-height: 34px;
      border: 1px solid #999;
      border-radius: 6px;
      user-select: none;
      &:hover {
        color: #666;
      }
    }
  }
  /* Checked */
  &__radio-btn input:checked + label {
    background: #ffe0a6;
  }
}
